/**
 * =================================================================== 
 *
 *  Kards v1.0 Main Stylesheet
 *  url: styleshout.com
 *  03-01-2016
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons 
 *  07. other components
 *  08. common styles
 *  09. header styles
 *  10. intro
 *  11. about
 *  12. resume
 *  13. portfolio
 *  14. call-to-action section
 *  15. services
 *  16. stats
 *  17. contact
 *  18. footer
 *
 * =================================================================== 
 */


/** 
 * ===================================================================
 * 01. webfonts and iconfonts - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- 
 */
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");


/** 
 * ===================================================================
 * 02. base style overrides - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- 
 */
html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	background: #151515;
	/* background-image: url("../webbutveckling.png"); */
	background-position: fixed;
	font-family: "lora-regular", serif;
	font-size: 1rem;
	line-height: 3rem;
	color: #6e6e6e;
	margin: 0;
}
.MyImage{
	width:130px;
	height: 140px;
	right: 5px;
	top:0;
	position: absolute;

}


/**
 * links - (_document-setup.scss)
 * -------------------------------------------------------------------
 */
a,
a:visited {
	color: #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #FF0077;
	outline: 0;
}

/** 
 * ===================================================================
 * 03. typography & general theme styles - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- 
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
	font-family: "poppins-semibold", sans-serif;
	color: #313131;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 3.1rem;
}

h3,
.h03,
h4,
.h04 {
	margin-bottom: 1.8rem;
}

h5,
.h05,
h6,
.h06 {
	font-family: "poppins-bold";
	margin-bottom: 1.2rem;
}

h1,
.h01 {
	font-size: 3.1rem;
	line-height: 1.355;
	letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {

	h1,
	.h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}

h2,
.h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}

h3,
.h03 {
	font-size: 2rem;
	line-height: 1.5;
}

h4,
.h04 {
	font-size: 1.7rem;
	line-height: 1.765;
}

h5,
.h05 {
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

h6,
.h06 {
	font-size: 1.3rem;
	line-height: 1.846;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

p img {
	margin: 0;
}

p.lead {
	font-family: "lora-regular", serif;
	font-size: 2rem;
	line-height: 1.8;
	color: #888888;
}


em,
i,
strong,
b {
	font-size: 1.7rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}


strong,
b {
	font-family: "times-new-roman";
}


var,
kbd,
samp,
code,
pre {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}


hr {
	border: solid #d2d2d2;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/**
 * Lists - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
ul ul,
ul ol,
ol ol,
ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}

dt {
	margin: 0;
	color: #FF0077;
}

dd {
	margin: 0 0 0 2rem;
}

/**
 * Spacing - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

/* 
/**
 * Style Placeholder Text  
 * -
 */
::-webkit-input-placeholder {
	color: #a1a1a1;
}

:-moz-placeholder {
	color: #a1a1a1;
	/* Firefox 18- */
}

::-moz-placeholder {
	color: #a1a1a1;
	/* Firefox 19+ */
}

:-ms-input-placeholder {
	color: #a1a1a1;
}

.placeholder {
	color: #a1a1a1 !important;
}

/* 
/** 
 * ===================================================================
 * 06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- 
 */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-family: "poppins-bold", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	height: 5.4rem;
	line-height: 5.4rem;
	padding: 0 3rem;
	margin: 0 .3rem 1.2rem 0;
	background: #d8d8d8;
	color: #313131;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: #bebebe;
	color: #000000;
	outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: #313131;
	color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background: #1f1f1f;
}

button.full-width,
.button.full-width {
	width: 100%;
	margin-right: 0;
}

button.medium,
.button.medium {
	height: 5.7rem !important;
	line-height: 5.7rem !important;
	padding: 0 1.8rem !important;
}

button.large,
.button.large {
	height: 6rem !important;
	line-height: 6rem !important;
	padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
	background: transparent !important;
	border: 3px solid #313131;
	line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
	line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
	line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
	border: 3px solid #FF0077;
	color: #FF0077;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/** 
 * ===================================================================
 * 08. common styles (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
.grey-section {
	background: #ebebeb;
}

.grey-section p.lead {
	color: #7d7d7d;
}

.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}

.section-intro h1 {
	font-family: "poppins-semibold", serif;
	font-size: 3.6rem;
	color: #313131;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}

.section-intro h5 {
	color: #FF0077;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}

/**
 * responsive:
 * common styles
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}

	.section-intro h1 {
		font-size: 3rem;
	}



	.top-bar {

		width: 100vw;
		

		& #main-nav-wrap {
			width: 100% !important;
			
		}

		& .main-navigation {
			margin: 0;
			left: 0;
			width: 100%;
			flex-direction: column;
			

			& li {
				display: none;
			}

			& li.showing {
				display: block;
			}
		}

	}
}

@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 2.6rem;
	}

	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}

@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 2.4rem;
	}
}


/** 
 * ===================================================================
 * 09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
}

header .row {
	position: relative;
	min-height: 66px;
	display: flex;
	justify-content: center;
}

header .top-bar {
	display: flex;
	justify-content: center;
	background: #000000;
	width: 100%;
	min-height: 66px;
	position: absolute;
	left: 0;
	top: 0;
	position: relative;
}

header li a {
	text-decoration: none;
}


/**
 * menu toggle - (_layout.css)
 * ------------------------------------------------------------------- 
 */
.menu-toggle {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 13px;
	display: block;
	position: relative;
}

.menu-toggle span {
	display: block;
	background-color: #FF0077;
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: absolute;
	right: 8px;
	top: 50%;
	bottom: auto;
	left: auto;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.menu-toggle span::before,
.menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}

.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}

.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}

.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
	background-color: #ff0077;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}

.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* navigation panel */
#main-nav-wrap {
	display: block;
	width: 60%;
	font-family: "poppins-medium", sans-serif;
	font-size: 1.5rem;
}

/* dropdown nav */
.main-navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	/* margin-top: 20px; */
	margin-bottom: 10px;
	height: 100%;
	clear: both;
margin-top:0;
}

.main-navigation>li {
	display: block;
	height: auto;
	text-align: left;
	padding: 0;
}


.main-navigation li a {
	display: block;
	color:turquoise;
	padding: 15px 0;
	height: 100%;
	/* line-height: 16px; */
	border: none;
}

.main-navigation li a:hover {
	color:orange;
}

.main-navigation li.current>a {
	background: none;
	color:turquoise;
	&:hover{
		color:orange;
	}
}

/* RESPONSIVE HEADER */

@media screen and (max-width: 900px) {
	#main-nav-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.main-navigation {
		margin-left: 0;
		padding-left: 0;
	}
}

/** 
 * ===================================================================
 * 10. intro - (_layout.scss) 
 *
 * ------------------------------------------------------------------- 
 */
#intro {
	background: url("../webbutveckling.png") no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}


.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}
.intro-content .experience{
	padding-top: 40px;
	padding-bottom: 0;
	&:hover {

        cursor: pointer;

        & p {
            display: block;
            color:plum;
        }
		& h5{
			display: none;
		}
    }
	
}
.intro-content h1 {
	color:plum;
	font-family: "poppins-medium", sans-serif;
	font-size: 2.4rem;
	line-height: 1.071;
	max-width: 600px;
	margin-top: 0;
	margin-bottom: .6rem;
	/* margin-left: auto; */
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	text-align: left;
	padding-left: 10px;
	}
	
	


.intro-content h5 {
	display: block;
	color: turquoise;
	font-family: "poppins-bold", sans-serif;
	max-width: 700px;
	font-size: 3.5rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	text-align: start;
	padding-left: 10px;
	height: 100px;
	
}
.span-about{
	color: plum;
	font-size: 2rem;
}
.span-p-about{
	color: turquoise;
}
.span-education{
	color: plum;
	font-size: 2rem;
}
.span-p-education{
	color: turquoise;
	padding-left: 5px;
}
.span-skills{
	color: turquoise;
}
.span-work-exp{
	color: turquoise;
}
.span-contact{
	color: turquoise;
}
.span-contact-email{
	color: turquoise;
	padding-left: 10px;
}
.span-address{
	color: turquoise;
}
.span-skils2{
	color: plum;
	font-size: 2rem;
}
.span-live{
	color: plum;
	font-size: 2rem;
}
.intro-content .intro-position {
	max-width: 600px;
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color:rgba(43, 226, 202, 0.719);
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	text-align: start;
	max-height: 1000px;
	display: none;
}

.intro-content .intro-position span {
display: inline-block;
}

.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
	
}

.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

.intro-content .button:hover,
.intro-content .button:focus {
	border-color: #cc005f;
}

.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}

.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}

.intro-social li a,
.intro-social li a:visited {
	color: #FFFFFF;
}

.intro-social li a:hover,
.intro-social li a:focus {
	color: #cc005f;
}

/**
 * responsive:
 * Intro
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-content h1 {
		font-size: 7.6rem;
	}

	.intro-social {
		font-size: 3rem;
	}

	.intro-social li {
		margin: 0 15px;
	}
}

@media only screen and (max-width:768px) {
	#intro {
		min-height: 660px;
	}

	.intro-content h1 {
		font-size: 5.2rem;
	}

	.intro-content h5 {
		font-size: 1.8rem;
	}

	.intro-content .intro-position {
		font-size: 1.3rem;
	}

	.intro-social {
		font-size: 2.5rem;
	}

	.intro-social li {
		margin: 0 10px;
	}
}

@media only screen and (max-width:600px) {
	#intro {
		min-height: 600px;
	}

	.intro-content h1 {
		font-size: 4.6rem;
		margin-bottom: .6rem;
	}

	.intro-content h5 {
		font-size: 1.5rem;
		margin-bottom: .3rem;
		letter-spacing: .2rem;
	}

	.intro-content .intro-position {
		font-size: 1.2rem;
	}

	.intro-content .intro-position span {
		padding: 0 .6rem;
	}

	.intro-content .intro-position span::before,
	.intro-content .intro-position span::after {
		display: none !important;
	}

	.intro-social {
		font-size: 2.4rem;
	}
}


/** 
 * ===================================================================
 * 18. footer - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
footer {
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
	padding-top: 6rem;
	padding-bottom: 3rem;
	font-size: 1.4rem;
	font-family: "poppins-regular", sans-serif;
}

footer a,
footer a:visited {
	color: turquoise;
	padding-left: 10px;
}


footer a:hover,
footer a:focus {
	color: orange;
}

footer .row {
	display: flex;
	flex-flow: column nowrap;
	max-width: 900px;
	margin-top: 20px;
}

footer .social {
	text-align:center;
	padding-left: 20px;
	
}

footer .footer-social {
	display: inline-block;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	position: relative;
	top: -.3rem;
}

footer .footer-social li {
	display: inline-block;
	margin: 0 12px;
	padding: 0;
}

footer .footer-social li a {
	color: plum;
}

.tab-full{
	display: flex;
	
	

}
footer .copyright span {
	display: inline-block;
	color: plum;

	
}

footer .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
	
}

footer .copyright span:last-child::after {
	display: none;

}

/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:768px) {
	footer {
		text-align: center;
	}

	footer .social {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	footer .copyright span {
		display: block;
	}

	footer .copyright span::after {
		display: none;
		
	}
}